.detail_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #c4c6bd;
  position: relative;
}

.arrow_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
}

.detail {
  width: 90%;
  max-width: 110rem;
  max-height: 800px;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 40% auto;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  background-color: #f2f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
}

.info_container h1 {
  font-size: 4rem;
}

.info_container h2 {
  font-size: 3rem;
  color: black;
}

.description_box {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
}

.description_box h3 {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
}

.description_box p {
  font-size: 1.5rem;
  background-color: #dcf883;
  color: white;
  padding: 0.5rem;
  max-height: 4rem;
  overflow: auto;
  color: black;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
}

.stock_p {
  font-size: 1.3rem;
}

.stock_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
}

.stock_box button {
  background-color: rgba(190, 243, 27, 0.97);
}

.stock_box span{
  width: 3ch;
  text-align: center;
}

.buttons_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons_box button {
  border-radius: 0.3125rem;
  border: 3px solid #000;
  padding: 0.2rem 0.4rem;
  font-size: 1.3rem;
  width: fit-content;
}

.btn_cart {
  background: rgba(190, 243, 27, 0.97);
}

.btn_cart:active {
  background: rgba(84, 110, 4, 0.555);
}

.btn_favorites {
  background-color: #d9d9d9;
}
