.footerCO {
  width: 100%;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 3rem;
  grid-template-rows: 100%;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}
.Fsec1,
.Fsec2,
.Fsec3,
.Fsec4 {
  color: aliceblue;
  box-sizing: border-box;
}

.Fsec1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1.3rem;
}
.Fsec1 * {
  display: flex;
}

.MangCodig {
  position: relative;
  display: flex;
  align-items: center;
}

.MangCodig h2 {
  font-size: 2rem;
  letter-spacing: 4px;
}

.paragraph {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  text-wrap: balance;
}

.imageMangCodig {
  height: 1.5rem;
  margin-right: 1rem;
}

.Fsec1IMGS {
  gap: 2rem;
}

.Fsec1IMGS img {
  width: 2.5rem;
  height: 2.5rem;
}

.Fsec2,
.Fsec3 {
  display: flex;
  flex-flow: column;
}
.Fsec2 h3,
.Fsec3 h3 {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.Fsec2 ul,
.Fsec3 ul {
  color: rgb(160, 160, 160);
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.list li {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2.4px;
}

.clickable_list li:hover {
  color: white;
}
