.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
}

.order_container select{
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.order_container option{
  text-align: center;
}

.filters_container{
  display: inline-flex;
  flex-direction: column;
  width: 30%;
}

.button_onMenu{
  margin: 0% 0% 0% 45%;
  text-align: center;
  font-size: 20px;
  height: 30px;
  border: transparent;
  background: transparent;
}
.button_onMenu:hover{
  color: gray
}

.menu_filters_active{
  background-color: whitesmoke;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  z-index: 2;
}

.menu_filters_active span{
 display: inline-flex;
 justify-content: space-between;
}
.menu_filters_active span button:hover{
  background: black;
  color: whitesmoke;
}

.menu_filters_active button{
  background: #BEF31B;
  padding: 10px;
}

.menu_filters_active select{
  border: 2px solid black;
}

.menuDisabled{
  visibility: hidden;
}

.applyButton{
  padding: 10px;
  border: 3px solid black
}
.applyButton:hover{
  background: black;
  color: whitesmoke;
}