.container {
  min-height: 100vh;
  background: linear-gradient(
    196deg,
    rgba(0, 0, 0, 0.92) 40.6%,
    rgba(190, 243, 27, 0.97) 100%
  );
  color: #fff;
}

.title {
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  background: linear-gradient(to right, #077e17, #34cf63);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.411);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sportzone {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  padding-left: 2rem;
  color: #BAEE1C;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardIndividual {
  border: transparent;
  width: 50%;
  height: 13rem;
  margin: 1rem;
  gap: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.cardIndividual img {
  position: relative;
  left: 40px;
  width: 10rem;
  height: 10rem;
  border-radius: 999px;
}

.cardIndividual:hover {
  border: 4px solid rgba(190, 243, 27, 0.97);
  border-radius: 10px;
  background-color: rgba(189, 243, 27, 0.596);
  color: black;
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.social :hover {
  color: white;
}

.cardIndividual:hover img {
  border: 4px solid black;
}
