.container{
width: 100%;
height: 100%;
background: linear-gradient(196deg, rgba(0, 0, 0, 0.92) 40.60%, rgba(190, 243, 27, 0.97) 100%);
color: #FFF;

}

.sportzone{
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardIndividual{
    border:transparent;
    width: 520px;
    height: 206px;
    margin:15px;
    gap:100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.cardIndividual img{
    display: inline;
    position: relative;
    left: 40px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.cardIndividual:hover{
    border:4px solid rgba(190, 243, 27, 0.97);
    border-radius: 10px;
    background-color: rgba(189, 243, 27, 0.596);
    color: black;
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);

}
  
.social :hover{
    color: white
}
.cardIndividual:hover img{
    border:4px solid black
}