@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

.container {
  background: linear-gradient(180deg, #b5e423 0%, hsl(0, 0%, 1%) 80.87%);
  background-color: #b5e423;
  font-family: "Koulen", cursive;
  display: flex;
  flex-direction: column;
}

.titles {
  display: inline-flex;
  flex-direction: column;
  color: black;
  margin: 20px;
}

.hero_box h1 {
  font-size: 8rem;
  text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.hero_box h3 {
  margin: 0;
  font-size: 1cm;
}

.buttons {
  display: inline-flex;
  gap: 3.12rem;
}

.buttons button {
  padding: 0.3rem 3rem;
  transform: rotate(-0.572deg);
  flex-shrink: 0;
  font-family: "Koulen", cursive;
  font-size: 1.5rem;
  border: transparent;
  border-radius: 10px;
}

.tienda {
  background: #b5e423;
}

.image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.barraSuperior {
  border: transparent;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.92);
  color: whitesmoke;
}
.barraSuperior p {
  color: whitesmoke;
  text-decoration: none;
}
.footerContainer {
  overflow: hidden;
  width: 100%;
  padding-bottom: 1rem;
}
