@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.container{
background: linear-gradient(180deg, #B5E423 0%, hsl(0, 0%, 1%) 80.87%);
background-color: #B5E423;
font-family: 'Koulen', cursive;
display: flex;
flex-direction: column;
}


.titles{
    display: inline-flex;
    flex-direction: column;
    margin:20px

}
.titles h1{
    font-size: 2cm;
    margin: 0;
}
.titles h3{
    margin: 0;
    font-size: 1cm;
}


.buttons{
    display: inline-flex;
    gap:50px;
    margin-left: 20px;
}
.buttons button {
    width: 138.993px;
    height: 40.016px;
    transform: rotate(-0.572deg);
    flex-shrink: 0;
    font-family: 'Koulen', cursive;
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
}
.tienda{
    background: #B5E423;
}

.image{
width: 100%;
height: 874px;
flex-shrink: 0;
}