.container {
  width: 100%;
}

.label {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  min-width: 100%;
  font-size: 1.4rem;
}

/* .images_container {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
}

.image_box {
  position: relative;
  border: 2px solid black;
}

.image_box button{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  background-color: red;
  color: white;
  font-family: inherit;
} */


